In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\asus_01\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus_01\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus_01\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asus_01\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asus_01\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\asus_01\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
df = pd.read_csv('accommodation_dataset2.csv')

In [3]:
df.head()

,Type,Name,Address,Rooms,Grade,District,PS/MC/UC,Logitiute,Latitude,AGA Division
0,boutique hotels,the theva residency,"11/b5/10-1 06th lane, hantana,kandy",10,NaN,kandy,kandy,80.635411,7.276036,kandy divisional secretariat
1,boutique hotels,highland villa,"351, abimangama road, kumbalgama, weligama",10,NaN,matara,weligama,80.409972,5.960334,weligama divisional secretariat
2,boutique hotels,ulagalla walawwa resort,"thirappane, anuradhapura",21,NaN,anuradhapura,anuradhapura,80.545063,8.205927,anuradhapura east
3,boutique hotels,galle fort hotel,"no.28, church street, fort , galle",14,NaN,galle,galle,80.217563,6.026649,galle divisional secretariat
4,boutique hotels,the elephant corridor,"pothana,kibissa, sigiriya",21,NaN,matale,matale,80.710743,7.943525,NaN

In [4]:
# 1. Change all texts to lowercase
df = df.applymap(lambda x: x.lower() if type(x) == str else x)

In [5]:
print(df.columns)

Index(['Type', 'Name', 'Address', 'Rooms', 'Grade', 'District', 'PS/MC/UC',
       'Logitiute', 'Latitude', 'AGA Division'],
      dtype='object')

In [6]:
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces from column names

In [7]:
# 2. Remove "divisional secretariat" text from AGA division
# Check if 'AGA Division' is in the DataFrame columns before attempting the operation
if 'AGA Division' in df.columns:
    df['AGA Division'] = df['AGA Division'].str.replace('divisional secretariat', '')
else:
    print("'AGA Division' column not found in the DataFrame.")

In [8]:
# Remove "pradeshiya sabha" text from AGA division
# Check if 'AGA Division' is in the DataFrame columns before attempting the operation
if 'AGA Division' in df.columns:
    df['AGA Division'] = df['AGA Division'].str.replace('pradeshiya sabha', '')
else:
    print("'AGA Division' column not found in the DataFrame.")

In [9]:
# 3. Select relevant attributes
selected_columns = ['Type','Name', 'Address', 'Rooms', 'District', 'PS/MC/UC','AGA Division']
df = df[selected_columns]

In [10]:
# Remove double quotations from all values in the dataset
df = df.applymap(lambda x: x.replace('"', '') if isinstance(x, str) else x)

In [11]:
df_preprocessed = df.dropna()

In [12]:
# Display the preprocessed data
print("\nState of the data after preprocessing:")
print(df_preprocessed.head())

State of the data after preprocessing:
              Type                     Name  \
0  boutique hotels      the theva residency
1  boutique hotels           highland villa
2  boutique hotels  ulagalla walawwa resort
3  boutique hotels         galle fort hotel
5  boutique hotels                amanwella

                                      Address  Rooms      District  \
0         11/b5/10-1 06th lane, hantana,kandy     10         kandy
1  351, abimangama road, kumbalgama, weligama     10        matara
2                    thirappane, anuradhapura     21  anuradhapura
3          no.28, church street, fort , galle     14         galle
5          wellawatura, godellawela, tangalle     30    hambantota

       PS/MC/UC       AGA Division
0         kandy             kandy
1     weligama           weligama
2  anuradhapura  anuradhapura east
3         galle             galle
5     tangalle           tangalle

In [13]:
# Display the entire preprocessed data
print("\nState of the data after preprocessing:")
print(df_preprocessed)

State of the data after preprocessing:
                 Type                      Name  \
0     boutique hotels       the theva residency
1     boutique hotels            highland villa
2     boutique hotels   ulagalla walawwa resort
3     boutique hotels          galle fort hotel
5     boutique hotels                 amanwella
...               ...                       ...
2125   tourist hotels              hotel nippon
2126   tourist hotels        thidas arana hotel
2127   tourist hotels  the grand mountain hotel
2128   tourist hotels     arie lagoon - negombo
2129   tourist hotels                the villas

                                               Address  Rooms      District  \
0                  11/b5/10-1 06th lane, hantana,kandy     10         kandy
1           351, abimangama road, kumbalgama, weligama     10        matara
2                             thirappane, anuradhapura     21  anuradhapura
3                   no.28, church street, fort , galle     14         galle
5                   wellawatura, godellawela, tangalle     30    hambantota
...                                                ...    ...           ...
2125               123, kumaranratnam road, colombo 02     49       colombo
2126              23rd,mile post,bandiwewa,polonnaruwa     11   polonnaruwa
2127   73/1,rohana dissanayake mawatha,mc road,matale.     86        matale
2128            587,pamunugama road,thalahena, negombo     55       gampaha
2129  352/4,rathnayaka road,thalpitiya south,wadduwa,,     32      kalutara

                                 PS/MC/UC       AGA Division
0                                   kandy             kandy
1                               weligama           weligama
2                            anuradhapura  anuradhapura east
3                                   galle             galle
5                               tangalle           tangalle
...                                   ...                ...
2125       colombo divisional secretariat            colombo
2126  thamankaduwa divisional secretariat      thamankaduwa
2127        matale divisional secretariat             matale
2128       negombo divisional secretariat            negombo
2129      panadura divisional secretariat          panadura

[2111 rows x 7 columns]

In [14]:
# Save the preprocessed data to a CSV file
df.to_csv('Accommodation.csv', index=False)