In [1]:
!pip install pandas
import pandas as pd

Requirement already satisfied: pandas in c:\users\asus_01\anaconda3\lib\site-packages (2.0.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\asus_01\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\asus_01\anaconda3\lib\site-packages (from pandas) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\asus_01\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: numpy>=1.21.0 in c:\users\asus_01\anaconda3\lib\site-packages (from pandas) (1.24.3)
Requirement already satisfied: six>=1.5 in c:\users\asus_01\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
#Read the dataset file
df = pd.read_excel('Restaurants.xlsx')

In [3]:
df.head()

,Name,Address,Grade,District,AGA Division,PS/MC/UC
0,BAVARIAN BARN RESTAURANT,"NO. 11, GALLE FACE COURT 02 COLOMBO",A,Colombo,Colombo,Colombo Divisional Secretariat
1,LORDS RESTAURANT,80B PORUTHOTA ROAD ETTHUKALA NEGOMBO,A,Gampaha,Negombo,Negombo Divisional Secretariat
2,NIHONBASHI RESTAURANT,"NO 11, GALLE FACE TERRACE, COLOMBO 03",A,Colombo,Colombo,Colombo Divisional Secretariat
3,FREE WIND RESTAURANT & BAR,"NO 1285, KANDY ROAD, PALAIYOOTHU, TRINCO MALEE",A,Trincomalee,Uppuveli Trinco Malee,Trincomalee Divisional Secretariat
4,EDWIN RESTAURANT,"204, LEWIS PLACE, NEGOMBO",B,Gampaha,Negombo,Negombo Divisional Secretariat

In [4]:
# 1. Change all texts to lowercase
df = df.applymap(lambda x: x.lower() if type(x) == str else x)

In [5]:
print(df.columns)

Index(['Name', 'Address', 'Grade', 'District', 'AGA Division', 'PS/MC/UC'], dtype='object')

In [6]:
print(df)

                              Name  \
0         bavarian barn restaurant
1                 lords restaurant
2            nihonbashi restaurant
3       free wind restaurant & bar
4                 edwin restaurant
..                             ...
471  shan city chineese restaurant
472     chinese delight restaurant
473      sameeha family restaurant
474            sea port restaurant
475                        amuseum

                                               Address Grade     District  \
0                  no. 11, galle face court 02 colombo     a      colombo
1                 80b poruthota road etthukala negombo     a      gampaha
2                no 11, galle face terrace, colombo 03     a      colombo
3       no 1285, kandy road, palaiyoothu, trinco malee     a  trincomalee
4                            204, lewis place, negombo     b      gampaha
..                                                 ...   ...          ...
471                27/3/1,,kotugodella veediya,,kandy.     b        kandy
472       41-a,ridgeway place, marine drive,colombo 04     a      colombo
473           no. 390,chilaw road, periyamulla,negombo     a      gampaha
474                 70,poruthota road,ethukala,negombo     a      gampaha
475  9th floor, green lanka building,nawam mawatha,...     a      colombo

              AGA Division                            PS/MC/UC
0                  colombo      colombo divisional secretariat
1                  negombo      negombo divisional secretariat
2                  colombo      colombo divisional secretariat
3    uppuveli trinco malee  trincomalee divisional secretariat
4                  negombo      negombo divisional secretariat
..                     ...                                 ...
471                  kandy        kandy divisional secretariat
472                colombo      colombo divisional secretariat
473                negombo      negombo divisional secretariat
474                negombo      negombo divisional secretariat
475                colombo      colombo divisional secretariat

[476 rows x 6 columns]

In [7]:
df.columns = df.columns.str.strip()  # Remove leading/trailing spaces from column names

In [8]:
# 2. Remove "pradeshiya sabha" text from AGA division
# Check if 'AGA Division' is in the DataFrame columns before attempting the operation
if 'AGA Division' in df.columns:
    df['AGA Division'] = df['AGA Division'].str.replace('pradeshiya sabha', '')
else:
    print("'AGA Division' column not found in the DataFrame.")

In [9]:
# 3. Select relevant attributes
selected_columns = ['Name', 'Address', 'Grade', 'District', 'PS/MC/UC','AGA Division']
df = df[selected_columns]

In [10]:
# 4. Data preprocessing steps 
df_preprocessed = df.dropna()

In [11]:
# Display the preprocessed data
print("\nState of the data after preprocessing:")
print(df_preprocessed.head())

State of the data after preprocessing:
                         Name                                         Address  \
0    bavarian barn restaurant             no. 11, galle face court 02 colombo
1            lords restaurant            80b poruthota road etthukala negombo
2       nihonbashi restaurant           no 11, galle face terrace, colombo 03
3  free wind restaurant & bar  no 1285, kandy road, palaiyoothu, trinco malee
4            edwin restaurant                       204, lewis place, negombo

  Grade     District                            PS/MC/UC  \
0     a      colombo      colombo divisional secretariat
1     a      gampaha      negombo divisional secretariat
2     a      colombo      colombo divisional secretariat
3     a  trincomalee  trincomalee divisional secretariat
4     b      gampaha      negombo divisional secretariat

            AGA Division
0                colombo
1                negombo
2                colombo
3  uppuveli trinco malee
4                negombo

In [12]:
# Display the entire preprocessed data
print("\nState of the data after preprocessing:")
print(df_preprocessed)

State of the data after preprocessing:
                              Name  \
0         bavarian barn restaurant
1                 lords restaurant
2            nihonbashi restaurant
3       free wind restaurant & bar
4                 edwin restaurant
..                             ...
471  shan city chineese restaurant
472     chinese delight restaurant
473      sameeha family restaurant
474            sea port restaurant
475                        amuseum

                                               Address Grade     District  \
0                  no. 11, galle face court 02 colombo     a      colombo
1                 80b poruthota road etthukala negombo     a      gampaha
2                no 11, galle face terrace, colombo 03     a      colombo
3       no 1285, kandy road, palaiyoothu, trinco malee     a  trincomalee
4                            204, lewis place, negombo     b      gampaha
..                                                 ...   ...          ...
471                27/3/1,,kotugodella veediya,,kandy.     b        kandy
472       41-a,ridgeway place, marine drive,colombo 04     a      colombo
473           no. 390,chilaw road, periyamulla,negombo     a      gampaha
474                 70,poruthota road,ethukala,negombo     a      gampaha
475  9th floor, green lanka building,nawam mawatha,...     a      colombo

                               PS/MC/UC           AGA Division
0        colombo divisional secretariat                colombo
1        negombo divisional secretariat                negombo
2        colombo divisional secretariat                colombo
3    trincomalee divisional secretariat  uppuveli trinco malee
4        negombo divisional secretariat                negombo
..                                  ...                    ...
471        kandy divisional secretariat                  kandy
472      colombo divisional secretariat                colombo
473      negombo divisional secretariat                negombo
474      negombo divisional secretariat                negombo
475      colombo divisional secretariat                colombo

[476 rows x 6 columns]

In [13]:
# Save the preprocessed data to a new Excel file
df_preprocessed.to_excel('preprocessed_data.xlsx', index=False)